.body-class{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background: #f7f7f7;
}
/**
  重写顶部用户头像的poptip的箭头的位置
 */
.header-layout-menu .ivu-poptip-popper[x-placement=bottom-end] .ivu-poptip-arrow {
  right: 10px !important;
}
/**
  重写顶部工作台的poptip的箭头的位置
 */
.listClass .ivu-poptip-popper[x-placement=bottom-end] .ivu-poptip-arrow {
  right:1px !important;
}
